In [1]:
import pandas
df1=pandas.read_csv("scmpxw2017a.csv").sort_values(by="dates",ascending=True)
df2=pandas.read_csv("scmpxw2017b.csv").sort_values(by="dates",ascending=True)
df3=pandas.read_csv("scmpxw2017c.csv").sort_values(by="dates",ascending=True)
df4=pandas.read_csv("scmpxw2017d.csv").sort_values(by="dates",ascending=True)
df5=pandas.read_csv("scmpxw2017e.csv").sort_values(by="dates",ascending=True)
df6=pandas.read_csv("scmpxw2017f.csv").sort_values(by="dates",ascending=True)
df7=pandas.read_csv("scmpxw2017g.csv").sort_values(by="dates",ascending=True)

In [2]:
df2017=pandas.concat([df1,df2,df3,df4,df5,df6,df7], ignore_index=True)

In [3]:
df2017

del df2017["Unnamed: 0"]

from datetime import datetime
from dateutil import parser
import numpy
def parse_datetime(x):
    try:
        return parser.parse(x)
    except:
        return numpy.nan
df2017['datetime'] = df2017['dates'].apply(parse_datetime)
df2017['datetime']
df2017_order=df2017.set_index('datetime').resample('1d').aggregate('count')
df2017_order

dfc=df2017_order["title"]==0
df2017_order[dfc]

            title  byline  dates
datetime
2017-01-03      0       0      0
2017-01-10      0       0      0
2017-01-15      0       0      0
2017-01-17      0       0      0
2017-01-22      0       0      0
2017-01-27      0       0      0
2017-01-28      0       0      0
2017-01-29      0       0      0
2017-02-03      0       0      0
2017-02-06      0       0      0
2017-02-11      0       0      0
2017-02-13      0       0      0
2017-02-18      0       0      0
2017-02-20      0       0      0
2017-03-01      0       0      0
2017-03-05      0       0      0
2017-03-06      0       0      0
2017-03-12      0       0      0
2017-03-15      0       0      0
2017-04-01      0       0      0
2017-04-19      0       0      0
2017-05-01      0       0      0
2017-05-08      0       0      0
2017-05-17      0       0      0
2017-05-23      0       0      0
2017-05-26      0       0      0
2017-05-27      0       0      0
2017-05-31      0       0      0
2017-06-16      0       0      0
2017-06-17      0       0      0
...           ...     ...    ...
2017-10-21      0       0      0
2017-10-22      0       0      0
2017-10-23      0       0      0
2017-10-24      0       0      0
2017-10-25      0       0      0
2017-10-26      0       0      0
2017-10-27      0       0      0
2017-10-28      0       0      0
2017-10-29      0       0      0
2017-10-30      0       0      0
2017-10-31      0       0      0
2017-11-07      0       0      0
2017-11-08      0       0      0
2017-11-17      0       0      0
2017-11-22      0       0      0
2017-12-04      0       0      0
2017-12-08      0       0      0
2017-12-10      0       0      0
2017-12-11      0       0      0
2017-12-12      0       0      0
2017-12-13      0       0      0
2017-12-14      0       0      0
2017-12-15      0       0      0
2017-12-16      0       0      0
2017-12-18      0       0      0
2017-12-19      0       0      0
2017-12-20      0       0      0
2017-12-23      0       0      0
2017-12-25      0       0      0
2017-12-26      0       0      0

[87 rows x 3 columns]

In [4]:
df2017['datetime'] = df2017['dates'].apply(parse_datetime)
df2017new=df2017.sort_values(by='datetime')
df2017new.dropna(subset=['title'], how='all', inplace = True)
df2017new

,title,byline,dates,datetime
57,Can you handle the heat? Hong Kong Observatory...,NaN,01 Jan 2017,2017-01-01
38,Farewell 2016 ... and hello 2017,NaN,01 Jan 2017,2017-01-01
39,"Piecing together a big bang, one meteorite at ...",NaN,01 Jan 2017,2017-01-01
40,Zhang's 20 / 20 vis i o n: The 26-year-old Chi...,NaN,01 Jan 2017,2017-01-01
41,Hong Kong's illegal ivory hub status 'could gr...,NaN,01 Jan 2017,2017-01-01
42,Taiwan's President Tsai predicts challenging t...,NaN,01 Jan 2017,2017-01-01
43,Celebrity deaths in 2016,NaN,01 Jan 2017,2017-01-01
44,China hi-tech hub mayor adds party chief to hi...,NaN,01 Jan 2017,2017-01-01
46,Heavy smog back to choke northern China over t...,NaN,01 Jan 2017,2017-01-01
47,The Hong Kong palace Museum process so far,NaN,01 Jan 2017,2017-01-01
45,Fishing for fun,NaN,01 Jan 2017,2017-01-01
49,Carrie Lam in latest hint at possible run to b...,NaN,01 Jan 2017,2017-01-01
58,China tweaks yuan basket to play down US dolla...,NaN,01 Jan 2017,2017-01-01
48,Macau denies entry to two former Hong Kong pan...,NaN,01 Jan 2017,2017-01-01
55,"Here's hoping words of harmony, respect and tr...",NaN,01 Jan 2017,2017-01-01
54,"'One country, two systems' will be an anchor i...",NaN,01 Jan 2017,2017-01-01
56,Celebratory colour,NaN,01 Jan 2017,2017-01-01
52,Pitfalls exist when Hong Kong has no framework...,NaN,01 Jan 2017,2017-01-01
51,One last meal,NaN,01 Jan 2017,2017-01-01
50,City sees in the new year with a traditional bang,NaN,01 Jan 2017,2017-01-01
53,Planning chiefs reveal vision for more public ...,NaN,01 Jan 2017,2017-01-01
151,Gibson the latest to suffer in the transfer me...,NaN,02 Jan 2017,2017-01-02
157,Purton kick-starts the New Year with a quartet,NaN,02 Jan 2017,2017-01-02
156,China's online scalpers leverage their e-comme...,NaN,02 Jan 2017,2017-01-02
155,MMG sees tight focus and tapping local talent ...,NaN,02 Jan 2017,2017-01-02
154,Chinese investors making smarter decisions whe...,NaN,02 Jan 2017,2017-01-02
152,"Blizzard storms to group victory, eyes bigger ...",NaN,02 Jan 2017,2017-01-02
150,Moore collects treble to begin 2017 with a bang,NaN,02 Jan 2017,2017-01-02
153,"Fuji Xerox eyes cloud, 3D printer expansion in...",NaN,02 Jan 2017,2017-01-02
148,Mo enjoys tasty meal,NaN,02 Jan 2017,2017-01-02
...,...,...,...,...
13733,Chart of the day: Year of the big-caps in China,NaN,30 Dec 2017,2017-12-30
13734,Partied too hard this holiday season? This app...,NaN,30 Dec 2017,2017-12-30
13735,How toilet paper-sharing is a warning sign tha...,NaN,30 Dec 2017,2017-12-30
13736,It's a match - senior managers at Hong Kong ba...,NaN,30 Dec 2017,2017-12-30
13730,"No one saw this bull coming, so does Hang Seng...",NaN,30 Dec 2017,2017-12-30
13737,"Outgoing Chinese University chief Joseph Sung,...",NaN,30 Dec 2017,2017-12-30
13770,What caused radiation spike in north west Chin...,NaN,31 Dec 2017,2017-12-31
13771,Put down your phones if you are concerned chil...,NaN,31 Dec 2017,2017-12-31
13772,China takes popular news app Toutiao offline f...,NaN,31 Dec 2017,2017-12-31
13773,Beijing goes driverless with latest addition t...,NaN,31 Dec 2017,2017-12-31
13776,Hong Kong courts have no power to challenge de...,NaN,31 Dec 2017,2017-12-31
13775,It's show time,NaN,31 Dec 2017,2017-12-31
13777,Best and worst airlines and routes revealed in...,NaN,31 Dec 2017,2017-12-31
13778,'Mr OneTwo' on life as a black American actor ...,NaN,31 Dec 2017,2017-12-31
13769,"Carols, food stalls and families: charity even...",NaN,31 Dec 2017,2017-12-31
13774,"K-pop is an infectious disease, not a cultural...",NaN,31 Dec 2017,2017-12-31
13768,US can't stop drugs trade so don't expect to s...,NaN,31 Dec 2017,2017-12-31
13760,Square's reopening is a show of faith,NaN,31 Dec 2017,2017-12-31
13766,Beijing warns of 'grim' bond default risks as ...,NaN,31 Dec 2017,2017-12-31
13765,Giant 'safeguard Hong Kong' banner appears on ...,NaN,31 Dec 2017,2017-12-31
13764,Pandering to tourists,NaN,31 Dec 2017,2017-12-31
13763,Chinese scientists hear sound in Mariana Trenc...,NaN,31 Dec 2017,2017-12-31
13762,Can China tame the 'grey rhinos' and 'black sw...,NaN,31 Dec 2017,2017-12-31
13761,"China puts US$15,000 annual personal cap on ov...",NaN,31 Dec 2017,2017-12-31
13759,Japan must confront its sordid history,NaN,31 Dec 2017,2017-12-31
13758,New recycling policy targeting plastic and pap...,NaN,31 Dec 2017,2017-12-31
13757,Localist throws hat into ring for Hong Kong by...,NaN,31 Dec 2017,2017-12-31
13779,Elderly man fights for his life after fire bre...,NaN,31 Dec 2017,2017-12-31
13767,Freewheeling: senior citizens in Hong Kong go ...,NaN,31 Dec 2017,2017-12-31
13780,Gift of survivor's artwork thanks Shanghai for...,NaN,31 Dec 2017,2017-12-31

In [5]:
df2017new.to_csv("scmp2017.csv",encoding='utf-8')