In [306]:
root_url='https://search-proquest-com.lib-ezproxy.hkbu.edu.hk/asianews/publication/2030555/citation/883F1EB4ED6B4ED4PQ/5?accountid=11440'

In [307]:
from selenium import webdriver
import time
browser = webdriver.Chrome() 
browser.get(root_url)

In [308]:
SLEEP = 5

In [309]:
pages=[
     ["filteryear2015","filtermonth112015","filterissueNameNov15,2015November"],
     ["filteryear2015","filtermonth112015","filterissueNameNov16,2015November"],
  
]

In [310]:
def scrape_one_page():
    articles=browser.find_elements_by_class_name("resultItem")
    data=[]
    for article in articles:
        headline=article.find_element_by_class_name("truncatedResultsTitle").text
        byline2=article.find_elements_by_class_name("titleAuthorETC")[1].text
        data.append((headline,byline2))
    return data

In [311]:
all_data=[]
for page in pages:
    try:
        browser.get(root_url)
        time.sleep(SLEEP)
        for element in page:
            browser.find_element_by_id(element).click()
            time.sleep(SLEEP)
        data=scrape_one_page()
        all_data.extend(data)
        nextpage=browser.find_element_by_css_selector("#lor_container > div.pub_bottom_sort_by > nav > ul > li:nth-child(5) > a")
        nextpage.click()
        data=scrape_one_page()
        all_data.extend(data)
    except Exception as e:
        print("Failed on",page)
        print(e)

Failed on ['filteryear2015', 'filtermonth112015', 'filterissueNameNov15,2015November']
Message: no such element: Unable to locate element: {"method":"id","selector":"filterissueNameNov15,2015November"}
  (Session info: chrome=70.0.3538.110)
  (Driver info: chromedriver=2.44.609545 (c2f88692e98ce7233d2df7c724465ecacfe74df5),platform=Mac OS X 10.13.3 x86_64)

Failed on ['filteryear2015', 'filtermonth112015', 'filterissueNameNov16,2015November']
Message: no such element: Unable to locate element: {"method":"id","selector":"filterissueNameNov16,2015November"}
  (Session info: chrome=70.0.3538.110)
  (Driver info: chromedriver=2.44.609545 (c2f88692e98ce7233d2df7c724465ecacfe74df5),platform=Mac OS X 10.13.3 x86_64)

In [312]:
import pandas as pd 
df=pd.DataFrame(all_data,columns=["title","byline2"])
df

Empty DataFrame
Columns: [title, byline2]
Index: []

In [313]:
for i in range(len(df["byline2"])):
    df['byline2'][i] = df['byline2'][i].split(']')[-1]
df["byline2"]
for i in range(len(df["byline2"])):
    df["byline2"][i]=df["byline2"][i].split(":")[0]
df["byline2"]

Series([], Name: byline2, dtype: object)

In [314]:
df.to_csv("ChinaDaily,G20,2015.csv",encoding='utf-8')