In [2]:
import pandas
df1=pandas.read_csv("scmp201504.csv").sort_values(by="dates",ascending=True)
df2=pandas.read_csv("scmp201505.csv").sort_values(by="dates",ascending=True)
df3=pandas.read_csv("scmp2015.csv").sort_values(by="dates",ascending=True)
df4=pandas.read_csv("scmp201509.csv").sort_values(by="dates",ascending=True)
df5=pandas.read_csv("scmp201512.csv").sort_values(by="dates",ascending=True)
df6=pandas.read_csv("scmpxw2015a.csv").sort_values(by="dates",ascending=True)

In [3]:
df2015=pandas.concat([df1,df2,df3,df4,df5,df6], ignore_index=True)

In [4]:
df2015
del df2015["Unnamed: 0"]

In [5]:
df2015

,title,byline,dates
0,China issues rules on bank deposit insurance s...,"Ren, Daniel.",1-Apr-15
1,Green roofs look better while saving money and...,NaN,1-Apr-15
2,Email lifts lid on discord at top of Hong Kong...,"Wong, Olga; Fung, Fanny W Y.",1-Apr-15
3,Hong Kong student makes surprise discovery of ...,"Yu, Alan.",1-Apr-15
4,Worker dies after lift shaft accident,NaN,1-Apr-15
5,Agency chief who recruited 200 maids accuses M...,"Siu, Phila.",1-Apr-15
6,Mainland China's LeTV plans to spend big to ex...,"Siu, Phila.",1-Apr-15
7,Residency ruling in Cathay pilot's Canadian di...,"Chan, Thomas.",1-Apr-15
8,Historic Hong Kong shops and cafes close to ma...,"Ngo, Jennifer.",1-Apr-15
9,Hong Kong lawmakers grill police over purchase...,"Chan, Samuel.",1-Apr-15
10,Hong Kong Urban Renewal Authority agrees to su...,Fanny WY Fung.,1-Apr-15
11,Hong Kong youngsters tested to see how competi...,"Sung, Timmy.",1-Apr-15
12,Hong Kong's Urban Renewal Authority stuck in c...,"Fung, Fanny W Y; Zhao, Shirley.",1-Apr-15
13,Bouquets for a star,NaN,1-Apr-15
14,Hong Kong Hospital Authority set to shake up h...,"Tsang, Emily.",1-Apr-15
15,Hong Kong Occupy leader Benny Tai allowed to r...,"Ng, Joyce.",1-Apr-15
16,Mainland power boost plan shelved amid reliabi...,"Kao, Ernest.",1-Apr-15
17,Privacy watchdog issues guidelines on use of d...,"Kang-chung, Ng.",1-Apr-15
18,How business can benefit by making use of big ...,"Zavadszky, Andrea.",1-Apr-15
19,As the Gods Will (III) (Japanese),NaN,1-Apr-15
20,The Planner,NaN,1-Apr-15
21,Sky Blu,NaN,1-Apr-15
22,Purton has been standout as Moreira magic mesm...,NaN,1-Apr-15
23,China's record high property inventories seen ...,"Chiang, Langi.",1-Apr-15
24,Emperor wins site in Sham Shui Po,NaN,1-Apr-15
25,ING Real Estate Finance expects Asian outbound...,"Li, Sandy.",1-Apr-15
26,Tseung Kwan O becomes property battleground wi...,"Li, Sandy.",1-Apr-15
27,Disruptive innovation to shake up office marke...,"Andrew, Peter.",1-Apr-15
28,Robert Scholten explains how on-the-ground fin...,"Li, Sandy.",1-Apr-15
29,Shopping centre glut to hit mainland China cit...,"Sito, Peggy.",1-Apr-15
...,...,...,...
18508,events,NaN,20 Jan 2015
18509,Hong Kong's suspension of migration investment...,"Yiu, Enoch.",20 Jan 2015
18510,Further Good Luck awaits debutant winner,"Aitken, Alan.",20 Jan 2015
18511,Back to work,NaN,20 Jan 2015
18512,Vik Muniz: Album,NaN,20 Jan 2015
18513,The Planner,NaN,20 Jan 2015
18514,Tai Po's best running trails,"Rachel, Jacqueline.",20 Jan 2015
18515,Sharp Peak snap wins this week's Instagram Hom...,NaN,20 Jan 2015
18516,Lab-grown human muscle tissue responds like th...,"Wang, Jeanette.",20 Jan 2015
18517,How to recover after running a marathon: exper...,"Rachel, Jacqueline.",20 Jan 2015
18518,"Grace Chen, the bespoke designer China's power...","Zhang, Jing.",20 Jan 2015
18519,MedArt Orchestra charity concert in Hong Kong ...,"Chou, Oliver.",20 Jan 2015
18520,Lamma ferry trial defence questions data readings,"Chan, Thomas.",20 Jan 2015
18521,Hong Kong judge hits out at doctors over late ...,"Lau, Chris.",20 Jan 2015
18522,Drugmaker Sinopharm to support Kingworld distr...,"Sun, Celine.",20 Jan 2015
18523,"Taxi driver killed, 19 hurt in Sha Tin horror ...",NaN,20 Jan 2015
18524,Funding requests withdrawn at Legco in move to...,"Kang-chung, Ng.",20 Jan 2015
18525,Fleetingmemory,NaN,20 Jan 2015
18526,Hong Kong's ex-colonial servicemen file for Br...,"Fung, Fanny W Y.",20 Jan 2015
18527,Pan-dems dig their heels in over Hong Kong's 2...,"Kang-chung, Ng.",20 Jan 2015
18528,Lawmakers call on police to explain child prot...,"Chu, Julie.",20 Jan 2015
18529,Hong Kong army cadets 'recruit' denies joining...,"Zhao, Shirley; Kao, Ernest.",20 Jan 2015
18530,Father suspected son of drug use at home,NaN,20 Jan 2015
18531,Crown chairman keeps age at arm's length,NaN,20 Jan 2015
18532,Sixth phase of MTR Corp's Lohas Park attracts ...,"Li, Sandy.",20 Jan 2015
18533,New Hutchison cloud service targets Hong Kong ...,"Perez, Bien.",20 Jan 2015
18534,"Strong dollar, weak oil prices will complicate...","Sau-wai, Chim.",20 Jan 2015
18535,Shanghai's option market launch shadowed by re...,"Daniel Ren in Shanghai; Man-ki, Kwong.",20 Jan 2015
18536,Lawmakers doubt more cinemas can save Hong Kon...,"Sung, Timmy.",20 Jan 2015
18537,Lunar New Year Cup organisers face big losses ...,Chan Kin-wa.,20 Jan 2015

In [6]:
from datetime import datetime
from dateutil import parser
import numpy
def parse_datetime(x):
    try:
        return parser.parse(x)
    except:
        return numpy.nan
df2015['datetime'] = df2015['dates'].apply(parse_datetime)
df2015['datetime']
df2015_order=df2015.set_index('datetime').resample('1d').aggregate('count')
df2015_order

            title  byline  dates
datetime
2015-01-01     48      25     48
2015-01-02     51      27     51
2015-01-03     47      28     47
2015-01-04     40      19     40
2015-01-05     67      45     67
2015-01-06     66      47     66
2015-01-07     63      39     63
2015-01-08     54      36     54
2015-01-09     61      40     61
2015-01-10     53      35     53
2015-01-11     56      31     56
2015-01-12     57      40     57
2015-01-13     78      59     78
2015-01-14     62      42     62
2015-01-15     59      40     59
2015-01-16     60      45     60
2015-01-17     52      34     52
2015-01-18     43      27     43
2015-01-19     70      50     70
2015-01-20     60      41     60
2015-01-21     62      45     62
2015-01-22     63      48     63
2015-01-23     62      42     62
2015-01-24     58      39     58
2015-01-25     51      29     51
2015-01-26     78      52     78
2015-01-27     67      49     67
2015-01-28     63      43     63
2015-01-29     56      37     56
2015-01-30     59      43     59
...           ...     ...    ...
2015-12-02     59      42     59
2015-12-03      0       0      0
2015-12-04     63      49     63
2015-12-05      0       0      0
2015-12-06     47      28     47
2015-12-07     52      32     52
2015-12-08     60      42     60
2015-12-09     60      43     60
2015-12-10     53      32     53
2015-12-11     63      29     63
2015-12-12     56      24     56
2015-12-13     45      26     45
2015-12-14     62      42     62
2015-12-15      0       0      0
2015-12-16     54      21     54
2015-12-17     53      21     53
2015-12-18     52       1     52
2015-12-19     53       0     53
2015-12-20     43       4     43
2015-12-21      0       0      0
2015-12-22     61       5     61
2015-12-23     36       0     36
2015-12-24      0       0      0
2015-12-25      0       0      0
2015-12-26      0       0      0
2015-12-27     26       0     26
2015-12-28      0       0      0
2015-12-29     48       0     48
2015-12-30      0       0      0
2015-12-31     39       0     39

[365 rows x 3 columns]

In [7]:
dfc=df2015_order["title"]==0
df2015_order[dfc]

            title  byline  dates
datetime
2015-01-31      0       0      0
2015-02-05      0       0      0
2015-02-12      0       0      0
2015-02-19      0       0      0
2015-02-20      0       0      0
2015-02-22      0       0      0
2015-02-23      0       0      0
2015-03-02      0       0      0
2015-03-11      0       0      0
2015-03-16      0       0      0
2015-03-17      0       0      0
2015-03-22      0       0      0
2015-03-27      0       0      0
2015-04-10      0       0      0
2015-04-17      0       0      0
2015-04-19      0       0      0
2015-04-29      0       0      0
2015-04-30      0       0      0
2015-05-01      0       0      0
2015-05-04      0       0      0
2015-05-06      0       0      0
2015-05-09      0       0      0
2015-05-12      0       0      0
2015-05-29      0       0      0
2015-05-30      0       0      0
2015-06-08      0       0      0
2015-06-13      0       0      0
2015-06-14      0       0      0
2015-06-23      0       0      0
2015-06-25      0       0      0
...           ...     ...    ...
2015-08-17      0       0      0
2015-08-20      0       0      0
2015-08-29      0       0      0
2015-09-03      0       0      0
2015-09-06      0       0      0
2015-09-08      0       0      0
2015-09-09      0       0      0
2015-09-13      0       0      0
2015-09-28      0       0      0
2015-10-02      0       0      0
2015-10-05      0       0      0
2015-10-10      0       0      0
2015-10-16      0       0      0
2015-10-20      0       0      0
2015-10-25      0       0      0
2015-11-01      0       0      0
2015-11-04      0       0      0
2015-11-13      0       0      0
2015-11-24      0       0      0
2015-11-26      0       0      0
2015-12-01      0       0      0
2015-12-03      0       0      0
2015-12-05      0       0      0
2015-12-15      0       0      0
2015-12-21      0       0      0
2015-12-24      0       0      0
2015-12-25      0       0      0
2015-12-26      0       0      0
2015-12-28      0       0      0
2015-12-30      0       0      0

[68 rows x 3 columns]

In [8]:
df2015['datetime'] = df2015['dates'].apply(parse_datetime)
df2015new=df2015.sort_values(by='datetime')
df2015new

,title,byline,dates,datetime
8354,Struggling ATV axes flagship news show Good Mo...,"Lam, Jeffie; Lau, Stuart.",1-Jan-15,2015-01-01
8327,"SCMP leaders of the year, Xi Jinping and Pope ...",NaN,1-Jan-15,2015-01-01
8326,Xi Jinping's visit to Macau was not cause for ...,NaN,1-Jan-15,2015-01-01
8325,BASKETBALL,NaN,1-Jan-15,2015-01-01
8324,More SOE mergers expected,NaN,1-Jan-15,2015-01-01
8323,Poor finishing lets Hong Kong down,Chan Kin-wa.,1-Jan-15,2015-01-01
8355,"Power bills, parking fees and theme parks cost...","Nip, Amy.",1-Jan-15,2015-01-01
8356,Housing is the biggest worry for Hong Kong's p...,"Ngo, Jennifer.",1-Jan-15,2015-01-01
8357,Housing is biggest worry for our poorest child...,"Ngo, Jennifer.",1-Jan-15,2015-01-01
8358,Hong Kong's disabled people twice as likely to...,"Ngo, Jennifer.",1-Jan-15,2015-01-01
8353,Erwiana's boss 'apologised to previous maid fo...,"Lau, Chris.",1-Jan-15,2015-01-01
8360,ATV faces legal action over unpaid wages: Labo...,"Lau, Stuart; Lam, Jeffie; Chow, Vivienne.",1-Jan-15,2015-01-01
8361,Former liquidator's account of Carrian scandal...,"Robertson, Benjamin.",1-Jan-15,2015-01-01
8362,PBOC vows to fine tune policy as Chinese facto...,"Ruan, Victoria.",1-Jan-15,2015-01-01
8363,"China news in brief, January 1, 2015",NaN,1-Jan-15,2015-01-01
8364,Airlines on edge after China Southern executiv...,"Jiang, Sijia.",1-Jan-15,2015-01-01
8365,Slower China GDP growth in 2015 seen accelerat...,"Ruan, Victoria.",1-Jan-15,2015-01-01
8366,results,NaN,1-Jan-15,2015-01-01
8367,events,NaN,1-Jan-15,2015-01-01
8368,Chart of the day: China stock divergence deepens,NaN,1-Jan-15,2015-01-01
8369,"RIP Ronald Li, you did much more good for Hong...","van der Kamp, Jake.",1-Jan-15,2015-01-01
8370,Meadowbrook deal sees Fosun end year as one of...,"Toh Han Shih; Man-ki, Kwong.",1-Jan-15,2015-01-01
8328,"News in Brief, January 1, 2015",NaN,1-Jan-15,2015-01-01
8329,"Letters Question, January 01, 2015",NaN,1-Jan-15,2015-01-01
8359,"City Digest for January 1, 2015",NaN,1-Jan-15,2015-01-01
8331,Reshuffle of leading PLA officers continues,"Li, Jing.",1-Jan-15,2015-01-01
8330,"For health's sake, end sales of live poultry",NaN,1-Jan-15,2015-01-01
8352,Health chief just needs a good night's sleep,NaN,1-Jan-15,2015-01-01
8351,Morgan's Journey,NaN,1-Jan-15,2015-01-01
8350,The Planner,NaN,1-Jan-15,2015-01-01
...,...,...,...,...
13255,NaN,NaN,NaN,NaT
13256,NaN,NaN,NaN,NaT
13257,NaN,NaN,NaN,NaT
13258,NaN,NaN,NaN,NaT
13259,NaN,NaN,NaN,NaT
13260,NaN,NaN,NaN,NaT
13261,NaN,NaN,NaN,NaT
13262,NaN,NaN,NaN,NaT
13263,NaN,NaN,NaN,NaT
13264,NaN,NaN,NaN,NaT
13265,NaN,NaN,NaN,NaT
13266,NaN,NaN,NaN,NaT
13267,NaN,NaN,NaN,NaT
13268,NaN,NaN,NaN,NaT
13269,NaN,NaN,NaN,NaT
13270,NaN,NaN,NaN,NaT
13271,NaN,NaN,NaN,NaT
13272,NaN,NaN,NaN,NaT
13273,NaN,NaN,NaN,NaT
13274,NaN,NaN,NaN,NaT
13275,NaN,NaN,NaN,NaT
13276,NaN,NaN,NaN,NaT
13277,NaN,NaN,NaN,NaT
13278,NaN,NaN,NaN,NaT
13279,NaN,NaN,NaN,NaT
13280,NaN,NaN,NaN,NaT
13281,NaN,NaN,NaN,NaT
13282,NaN,NaN,NaN,NaT
13283,NaN,NaN,NaN,NaT
13284,NaN,NaN,NaN,NaT

In [17]:
df2015new.dropna(subset=['title'], how='all', inplace = True)
df2015new

,title,byline,dates,datetime
8354,Struggling ATV axes flagship news show Good Mo...,"Lam, Jeffie; Lau, Stuart.",1-Jan-15,2015-01-01
8327,"SCMP leaders of the year, Xi Jinping and Pope ...",NaN,1-Jan-15,2015-01-01
8326,Xi Jinping's visit to Macau was not cause for ...,NaN,1-Jan-15,2015-01-01
8325,BASKETBALL,NaN,1-Jan-15,2015-01-01
8324,More SOE mergers expected,NaN,1-Jan-15,2015-01-01
8323,Poor finishing lets Hong Kong down,Chan Kin-wa.,1-Jan-15,2015-01-01
8355,"Power bills, parking fees and theme parks cost...","Nip, Amy.",1-Jan-15,2015-01-01
8356,Housing is the biggest worry for Hong Kong's p...,"Ngo, Jennifer.",1-Jan-15,2015-01-01
8357,Housing is biggest worry for our poorest child...,"Ngo, Jennifer.",1-Jan-15,2015-01-01
8358,Hong Kong's disabled people twice as likely to...,"Ngo, Jennifer.",1-Jan-15,2015-01-01
8353,Erwiana's boss 'apologised to previous maid fo...,"Lau, Chris.",1-Jan-15,2015-01-01
8360,ATV faces legal action over unpaid wages: Labo...,"Lau, Stuart; Lam, Jeffie; Chow, Vivienne.",1-Jan-15,2015-01-01
8361,Former liquidator's account of Carrian scandal...,"Robertson, Benjamin.",1-Jan-15,2015-01-01
8362,PBOC vows to fine tune policy as Chinese facto...,"Ruan, Victoria.",1-Jan-15,2015-01-01
8363,"China news in brief, January 1, 2015",NaN,1-Jan-15,2015-01-01
8364,Airlines on edge after China Southern executiv...,"Jiang, Sijia.",1-Jan-15,2015-01-01
8365,Slower China GDP growth in 2015 seen accelerat...,"Ruan, Victoria.",1-Jan-15,2015-01-01
8366,results,NaN,1-Jan-15,2015-01-01
8367,events,NaN,1-Jan-15,2015-01-01
8368,Chart of the day: China stock divergence deepens,NaN,1-Jan-15,2015-01-01
8369,"RIP Ronald Li, you did much more good for Hong...","van der Kamp, Jake.",1-Jan-15,2015-01-01
8370,Meadowbrook deal sees Fosun end year as one of...,"Toh Han Shih; Man-ki, Kwong.",1-Jan-15,2015-01-01
8328,"News in Brief, January 1, 2015",NaN,1-Jan-15,2015-01-01
8329,"Letters Question, January 01, 2015",NaN,1-Jan-15,2015-01-01
8359,"City Digest for January 1, 2015",NaN,1-Jan-15,2015-01-01
8331,Reshuffle of leading PLA officers continues,"Li, Jing.",1-Jan-15,2015-01-01
8330,"For health's sake, end sales of live poultry",NaN,1-Jan-15,2015-01-01
8352,Health chief just needs a good night's sleep,NaN,1-Jan-15,2015-01-01
8351,Morgan's Journey,NaN,1-Jan-15,2015-01-01
8350,The Planner,NaN,1-Jan-15,2015-01-01
...,...,...,...,...
18411,Pan-democrats reach out to Liberals on key dis...,NaN,31 Dec 2015,2015-12-31
18413,Chart of the day for December 30,NaN,31 Dec 2015.,2015-12-31
18414,Hong Kong and Chinese stock markets: technolog...,NaN,31 Dec 2015.,2015-12-31
18415,Hong Kong stock market poised to have worst ye...,NaN,31 Dec 2015.,2015-12-31
18416,Noble rating cut to 'junk' as commodities cont...,NaN,31 Dec 2015.,2015-12-31
18417,"One Belt, One Road, One ZTE: Chinese telecoms ...",NaN,31 Dec 2015.,2015-12-31
18418,Shortage of warehouse space in Hong Kong likel...,NaN,31 Dec 2015.,2015-12-31
18410,HK heading for unwanted options on working hou...,NaN,31 Dec 2015,2015-12-31
18401,Back from the brink: Dozens of elderly Hongkon...,NaN,31 Dec 2015,2015-12-31
18398,Big team effort: Surprise Hong Kong district c...,NaN,31 Dec 2015,2015-12-31
18399,"Our special-needs kids need more support, Hong...",NaN,31 Dec 2015,2015-12-31
18381,Don't shoot the messenger: Hong Kong education...,NaN,31 Dec 2015,2015-12-31
18382,Japan's deal on 'comfort women' stills lacks o...,NaN,31 Dec 2015,2015-12-31
18383,Park to offer glimpse into North Korea: Facili...,NaN,31 Dec 2015,2015-12-31
18384,PLA chief who took on 'tigers' resigns: Depart...,NaN,31 Dec 2015,2015-12-31
18385,They're alive!,NaN,31 Dec 2015,2015-12-31
18386,Griffin Trophy appears a strong form race goin...,NaN,31 Dec 2015,2015-12-31
18387,Z rugby star sparks controversy with graphic S...,NaN,31 Dec 2015,2015-12-31
18388,Who else but Joao Moreira in the Triple Trio?:...,NaN,31 Dec 2015,2015-12-31
18389,Zero to hero,NaN,31 Dec 2015,2015-12-31
18390,Xi calls on Politburo to follow his lead: Pres...,NaN,31 Dec 2015,2015-12-31
18391,Cricket: Injured McCullum may miss third Sri L...,NaN,31 Dec 2015,2015-12-31
18392,UPDATE 1-NFL-Eagles dump head coach Kelly afte...,NaN,31 Dec 2015,2015-12-31
18393,Hong Kong take on Guangdong in Interport for m...,NaN,31 Dec 2015,2015-12-31
18394,TRACK STARS,NaN,31 Dec 2015,2015-12-31
18395,Ex-premier Li Peng's daughter quits top power job,NaN,31 Dec 2015,2015-12-31
18396,A trip back in time: when a one-hour ride to G...,NaN,31 Dec 2015,2015-12-31
18397,50 minutes to Guangzhou: New express rail stat...,NaN,31 Dec 2015,2015-12-31
18400,Son on murder rap after top Hong Kong doctor s...,NaN,31 Dec 2015,2015-12-31
18380,TO INTERVENE OR not to intervene...: That is t...,NaN,31 Dec 2015,2015-12-31

In [18]:
df2015new.to_csv("scmp2015.csv",encoding='utf-8')