In [53]:
import pandas

In [54]:
df1=pandas.read_csv("scmp20160101-20160501.csv").sort_values(by="dates",ascending=True)
df2=pandas.read_csv("scmp20160502-20160610.csv").sort_values(by="dates",ascending=True)
df3=pandas.read_csv("scmp20160611-20160620.csv").sort_values(by="dates",ascending=True)
df4=pandas.read_csv("scmp20160621-20160819.csv").sort_values(by="dates",ascending=True)
df5=pandas.read_csv("scmp20160820-20160927.csv").sort_values(by="dates",ascending=True)
df6=pandas.read_csv("scmp20160928-end.csv").sort_values(by="dates",ascending=True)
df7=pandas.read_csv("scmp201611.csv").sort_values(by="dates",ascending=True)
df8=pandas.read_csv("scmp2016a.csv").sort_values(by="dates",ascending=True)
df9=pandas.read_csv("scmp2016b.csv").sort_values(by="dates",ascending=True)
df10=pandas.read_csv("scmp2016c.csv").sort_values(by="dates",ascending=True)
df11=pandas.read_csv("scmp2016d.csv").sort_values(by="dates",ascending=True)

In [55]:
df2016=pandas.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11], ignore_index=True)

In [56]:
del df2016["Unnamed: 0"]

from datetime import datetime
from dateutil import parser
import numpy
def parse_datetime(x):
    try:
        return parser.parse(x)
    except:
        return numpy.nan
df2016['datetime'] = df2016['dates'].apply(parse_datetime)
df2016['datetime']
df2016_order=df2016.set_index('datetime').resample('1d').aggregate('count')
df2016_order

dfc=df2016_order["title"]==0
z=df2016_order[dfc]

            title  byline  dates
datetime
2016-02-08      0       0      0
2016-02-09      0       0      0
2016-04-08      0       0      0
2016-07-21      0       0      0
2016-07-23      0       0      0
2016-07-28      0       0      0
2016-08-05      0       0      0
2016-08-08      0       0      0
2016-08-22      0       0      0
2016-08-29      0       0      0
2016-08-31      0       0      0
2016-09-11      0       0      0
2016-09-25      0       0      0
2016-10-11      0       0      0
2016-10-30      0       0      0
2016-11-03      0       0      0
2016-11-06      0       0      0
2016-11-10      0       0      0
2016-11-15      0       0      0
2016-11-22      0       0      0
2016-11-27      0       0      0
2016-12-01      0       0      0
2016-12-03      0       0      0
2016-12-25      0       0      0
2016-12-26      0       0      0